.loadingPage{
    height:90vh;
    width:100%;
    display:grid;
    place-items:center;
}

.loadingCircle{
    width:200px;
    height:200px;
    border-radius:50%;
    border:10px solid #ffffff;
    border-top:10px solid rgba(34,34,34);
    border-bottom:10px solid rgba(32,23,23);
    animation:spin 1s linear infinite;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}